@tailwind base;
@tailwind components;
@tailwind utilities;

.logoStyle {
    color: #4667A9;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: bold;
}

.mainColor {
    background-color: #73C5CB;
}

.iconStyle {
    @apply rounded-lg mt-4 mx-3;
    box-shadow: 1px 1px 5px 1px #4667A9;
    animation: ping 0.5s ease-out;
    background-color: #FFFFFF;
    color: #40949A;

    @keyframes ping {
        0% {
            transform: scale(1.5);
            opacity: 1;
        }
    }

}

.iconOpenAni {
    animation: ping 0.5s ease-out;

    @keyframes ping {
        0% {
            transform: scale(1.1);
            opacity: 1;
        }
    }

}

.iconName {
    @apply px-3 text-center text-xs mb-2;
}

.buttonStyle {
    @apply rounded-lg px-3 py-2 mx-3 text-xs;
    box-shadow: 1px 1px 5px 1px #4667A9;
}